body {
   background-color: #E6E6FA;
   background-image: url("images/background.png");
   background-repeat: no-repeat;
   background-size: cover;
}

h1 {
   color: #ffffff;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding: 10px;
    margin-right: 10px;
}

#header {
   display: flex;
   margin: auto;
   #border: 1px solid white;
   padding: 10px;
}

#menu {
   padding: 10px;
}
 
#gold {
   flex: 1;
   text-align:center;
   color: #ff5500;
}

#money {
   color: #44ff44;
}

#level {
   color: #0000ff;
}
